@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@layer base {
  body {
    font-family: "Inter", sans-serif;
  }

  button {
    cursor: pointer;
  }

  /* Hide number input spinners for Chrome, Safari, Edge */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Hide number input spinners for Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}
